body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.search-container, .filter-container {
    text-align: center;
    margin: 20px;
    margin-top: 10px;
}

#jobList {
    margin: 20px;
}

#jobList div {
    margin-bottom: 10px;
}
